In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ast

In [2]:
df = pd.read_csv("all_data/ppt_processed.csv")
df.head()

,review,token,rating,sentiment
0,Ugh I hated the last book in this series- what...,"['ugh', 'hat', 'last', 'book', 'in', 'series',...",1,0
1,"This started out strong, but it went downhill ...","['start', 'out', 'strong', 'but', 'go', 'downh...",1,0
2,"A decently written YA book, but I can't even c...","['decently', 'write', 'ya', 'book', 'but', 'ca...",1,0
3,This book simultaneously bored me to death and...,"['book', 'simultaneously', 'bore', 'death', 'a...",1,0
4,"Ugh...I tried, I honestly tried. I'm a huge fa...","['ugh', 'try', 'honestly', 'try', 'huge', 'fan...",1,0

In [3]:
df["token"] = df["token"].apply(lambda x: ast.literal_eval(x))
df.head()

,review,token,rating,sentiment
0,Ugh I hated the last book in this series- what...,"[ugh, hat, last, book, in, series, poor, way, ...",1,0
1,"This started out strong, but it went downhill ...","[start, out, strong, but, go, downhill, fairly...",1,0
2,"A decently written YA book, but I can't even c...","[decently, write, ya, book, but, can, even, co...",1,0
3,This book simultaneously bored me to death and...,"[book, simultaneously, bore, death, annoy, hel...",1,0
4,"Ugh...I tried, I honestly tried. I'm a huge fa...","[ugh, try, honestly, try, huge, fan, scott, we...",1,0

In [4]:
df["num_words"] = df["token"].apply(lambda x: len(x))

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     19990 non-null  object
 1   token      20000 non-null  object
 2   rating     20000 non-null  int64
 3   sentiment  20000 non-null  int64
 4   num_words  20000 non-null  int64
dtypes: int64(3), object(2)
memory usage: 781.4+ KB

In [10]:
df["sentiment"].value_counts()

0    10000
1    10000
Name: sentiment, dtype: int64

In [5]:
df2 = df[(df["num_words"] >= 15)]
df2 = df2.drop(["num_words"], axis=1)
df2.head()

,review,token,rating,sentiment
1,"This started out strong, but it went downhill ...","[start, out, strong, but, go, downhill, fairly...",1,0
2,"A decently written YA book, but I can't even c...","[decently, write, ya, book, but, can, even, co...",1,0
4,"Ugh...I tried, I honestly tried. I'm a huge fa...","[ugh, try, honestly, try, huge, fan, scott, we...",1,0
5,I hate to give any book this low of a rating -...,"[hate, give, any, book, low, rat, know, take, ...",1,0
6,Main points: \n 1. Never ever introduce a poin...,"[main, point, never, ever, introduce, point, v...",1,0

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15194 entries, 1 to 19997
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     15194 non-null  object
 1   token      15194 non-null  object
 2   rating     15194 non-null  int64
 3   sentiment  15194 non-null  int64
dtypes: int64(2), object(2)
memory usage: 593.5+ KB

In [7]:
df2["sentiment"].value_counts()

0    7741
1    7453
Name: sentiment, dtype: int64

In [8]:
df3 = df2[df2["sentiment"] == 0][:7000]
df4 = df2[df2["sentiment"] == 1][:7000]
df5 = pd.concat([df3, df4])
# df5 = df5.drop(["num_words"], axis=1)
df5

,review,token,rating,sentiment
1,"This started out strong, but it went downhill ...","[start, out, strong, but, go, downhill, fairly...",1,0
2,"A decently written YA book, but I can't even c...","[decently, write, ya, book, but, can, even, co...",1,0
4,"Ugh...I tried, I honestly tried. I'm a huge fa...","[ugh, try, honestly, try, huge, fan, scott, we...",1,0
5,I hate to give any book this low of a rating -...,"[hate, give, any, book, low, rat, know, take, ...",1,0
6,Main points: \n 1. Never ever introduce a poin...,"[main, point, never, ever, introduce, point, v...",1,0
...,...,...,...,...
19354,"Loved it \n At times, the multiple plots got a...","[love, time, multiple, plot, get, little, conf...",5,1
19355,I was excited for this book from the first mom...,"[excite, book, first, moment, hear, about, ver...",5,1
19357,Awesome! A bit complex for a teen book so not ...,"[awesome, bite, complex, teen, book, so, not, ...",5,1
19358,Re-read April 2016 \n Anyone who has not read ...,"[read, april, anyone, not, read, destroy, will...",5,1
19359,I'll give this 4.5 stars. I really like how th...,"[give, star, really, like, how, author, set, u...",5,1

In [9]:
with pd.option_context("display.max_rows", 8, "display.max_colwidth", 100, "display.colheader_justify", "left"):
    display(df5)

,review,token,rating,sentiment
1,"This started out strong, but it went downhill fairly quickly. It's not like there weren't good t...","[start, out, strong, but, go, downhill, fairly, quickly, not, like, there, weren, good, things, ...",1,0
2,"A decently written YA book, but I can't even consider the ending to be one. More like its missin...","[decently, write, ya, book, but, can, even, consider, end, one, more, like, miss, last, few, cha...",1,0
4,"Ugh...I tried, I honestly tried. I'm a huge fan of Scott Westerfeld...the Uglies series is among...","[ugh, try, honestly, try, huge, fan, scott, westerfeld, uglies, series, among, literary, favorit...",1,0
5,I hate to give any book this low of a rating - I know what it takes to actually finish a manuscr...,"[hate, give, any, book, low, rat, know, take, actually, finish, manuscript, get, through, proces...",1,0
...,...,...,...,...
19355,I was excited for this book from the first moment I heard about it. The very premise was somethi...,"[excite, book, first, moment, hear, about, very, premise, something, prick, interest, able, get,...",5,1
19357,Awesome! A bit complex for a teen book so not for reluctant readers. I can't wait for the others...,"[awesome, bite, complex, teen, book, so, not, reluctant, readers, can, wait, others, in, series,...",5,1
19358,"Re-read April 2016 \n Anyone who has not read ""Destroy Me"" will not truly understand Warner's in...","[read, april, anyone, not, read, destroy, will, not, truly, understand, warner, intentions, moti...",5,1
19359,I'll give this 4.5 stars. I really like how the author set up the world of TMI like 'whoa hardly...,"[give, star, really, like, how, author, set, up, world, tmi, like, whoa, hardly, no, one, think,...",5,1

In [10]:
df5 = df5.rename(columns={"token": "text"})
df5.head()

,review,text,rating,sentiment
1,"This started out strong, but it went downhill ...","[start, out, strong, but, go, downhill, fairly...",1,0
2,"A decently written YA book, but I can't even c...","[decently, write, ya, book, but, can, even, co...",1,0
4,"Ugh...I tried, I honestly tried. I'm a huge fa...","[ugh, try, honestly, try, huge, fan, scott, we...",1,0
5,I hate to give any book this low of a rating -...,"[hate, give, any, book, low, rat, know, take, ...",1,0
6,Main points: \n 1. Never ever introduce a poin...,"[main, point, never, ever, introduce, point, v...",1,0

In [11]:
df5.to_csv("cleaned_data/cleaned_reviews_4.csv", index=False)

### new preprocess

In [5]:
df = pd.read_csv("cleaned_data/cleaned_reviews_2.csv")
df["text"] = df["text"].apply(lambda x: ast.literal_eval(x))
df["num_words"] = df["text"].apply(lambda x: len(x))
df.head()

,review,text,rating,sentiment,num_words
0,Ugh I hated the last book in this series- what...,"[ugh, hat, last, book, series, poor, way, end,...",1,0,9
1,"This started out strong, but it went downhill ...","[start, out, strong, go, downhill, fairly, qui...",1,0,73
2,"A decently written YA book, but I can't even c...","[decently, write, ya, book, can, even, conside...",1,0,30
3,This book simultaneously bored me to death and...,"[book, simultaneously, bore, death, annoy, hel...",1,0,10
4,"Ugh...I tried, I honestly tried. I'm a huge fa...","[ugh, try, honestly, try, huge, fan, scott, we...",1,0,43

In [6]:
df2 = df[(df["num_words"] >= 15)]
df2 = df2.drop(["num_words"], axis=1)
df2.head()

,review,text,rating,sentiment
1,"This started out strong, but it went downhill ...","[start, out, strong, go, downhill, fairly, qui...",1,0
2,"A decently written YA book, but I can't even c...","[decently, write, ya, book, can, even, conside...",1,0
4,"Ugh...I tried, I honestly tried. I'm a huge fa...","[ugh, try, honestly, try, huge, fan, scott, we...",1,0
5,I hate to give any book this low of a rating -...,"[hate, give, any, book, low, rat, know, take, ...",1,0
6,Main points: \n 1. Never ever introduce a poin...,"[main, point, never, ever, introduce, point, v...",1,0

In [7]:
df2["sentiment"].value_counts()

0    7607
1    7330
Name: sentiment, dtype: int64

In [8]:
df3 = df2[df2["sentiment"] == 0][:7000]
df4 = df2[df2["sentiment"] == 1][:7000]
df5 = pd.concat([df3, df4])
df5

,review,text,rating,sentiment
1,"This started out strong, but it went downhill ...","[start, out, strong, go, downhill, fairly, qui...",1,0
2,"A decently written YA book, but I can't even c...","[decently, write, ya, book, can, even, conside...",1,0
4,"Ugh...I tried, I honestly tried. I'm a huge fa...","[ugh, try, honestly, try, huge, fan, scott, we...",1,0
5,I hate to give any book this low of a rating -...,"[hate, give, any, book, low, rat, know, take, ...",1,0
6,Main points: \n 1. Never ever introduce a poin...,"[main, point, never, ever, introduce, point, v...",1,0
...,...,...,...,...
19528,Five stars just isn't enough to give this amaz...,"[five, star, just, isn, enough, give, amaze, e...",5,1
19529,This was an awesome sequel to Moving in Neutra...,"[awesome, sequel, move, neutral, can, not, wai...",5,1
19530,I don't know where to begin except I didn't wa...,"[don, know, begin, except, didn, want, book, e...",5,1
19531,"an amazing read - surprising, original and rea...","[amaze, read, surprise, original, really, take...",5,1
19532,Easy summertime read that I flew through. like...,"[easy, summertime, read, fly, through, likeabl...",5,1

In [9]:
df5.to_csv("cleaned_data/cleaned_reviews_4.csv", index=False)