In [2]:
import json
import csv
import pandas as pd
import langid
from langdetect import detect
from textblob import TextBlob

In [3]:
data = {
    "review_id": [],
    "rating": [],
    "review_text": [],
}

In [4]:
# LANGDETECT

# with open("young_adult.json") as f:
#     for line in f:
#         line_object = json.loads(line)

#         try:
        
#             if detect(line_object["review_text"]) == "en":

#                 data["book_id"].append(line_object["book_id"])
#                 data["review_id"].append(line_object["review_id"])
#                 data["rating"].append(line_object["rating"])
#                 data["review_text"].append(line_object["review_text"])
        
#         except:
#             pass

In [5]:
# LANGID

with open("goodreads_reviews_young_adult.json") as f:
    i = 0
    for line in f:
        line_object = json.loads(line)
        i += 1

        if i%10000 == 0:
            print(f"Progress: {i}")

        try:
        
            if langid.classify(line_object["review_text"])[0] == "en":

                data["review_id"].append(line_object["review_id"])
                data["rating"].append(line_object["rating"])
                data["review_text"].append(line_object["review_text"])
        
        except:
            pass

        if i > 200000:
            break

    print("~~~~~ FINISHED ~~~~~")

Progress: 10000
Progress: 20000
Progress: 30000
Progress: 40000
Progress: 50000
Progress: 60000
Progress: 70000
Progress: 80000
Progress: 90000
Progress: 100000
Progress: 110000
Progress: 120000
Progress: 130000
Progress: 140000
Progress: 150000
Progress: 160000
Progress: 170000
Progress: 180000
Progress: 190000
Progress: 200000
~~~~~ FINISHED ~~~~~

In [9]:
df = pd.DataFrame(data)

,review_id,rating,review_text
0,248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...
1,84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...
2,785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...
3,34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin..."
4,d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l..."

In [10]:
# df = pd.read_csv('all_reviews.csv')
# df.drop(columns=["user_id", "book_id", "date_added", "date_updated", "read_at", "started_at", "n_votes", "n_comments"], inplace=True)
df.set_index("review_id", inplace=True)
df.head()

,rating,review_text
review_id,,
248c011811e945eca861b5c31a549291,5,I cracked and finally picked this up. Very enj...
84c0936a0f9868f38e75d2f9a5cb761e,5,I read this book because my fifth grade son wa...
785c8db878f4009da9741dea51f641da,4,Though the book started out slow and only star...
34dc3c45d07e82718b05e73167259aef,2,"*Update - 10/27/13* - After some sleep, I thin..."
d8d6b590780256fef7ae4a9550fe3e0d,5,"This is a moving, heartbreaking, view into a l..."

In [11]:
df.shape

(186471, 2)

In [12]:
df.sample(100)

,rating,review_text
review_id,,
ea412628dfa97924000cc07dc7c445b4,5,A truly original fantasy. The Bone Witch was a...
2c5cb7e9b432985cfe7fde560bcd25cd,4,Celeste does not deserve to die... Why just wh...
6a55a2578cb69cbc9f258de694b1d222,3,"Very good beginning of a series, but as a stan..."
c344cbecbc224150b3bc46884976d8cf,4,I'm really enjoying this series! The writing i...
949a5435f7008fe9a48ce7411edc8c17,5,I love this series!
...,...,...
e87b8479f45dd776dba8ffd47ff1819c,5,"This is a wonderful story of friendship, compa..."
3c1d0e25187345717d6851a5df9ff66a,3,I love nine and I actually hope he and six lan...
574378d84dd83b3ddda27362e03c56cb,3,I'm technically giving this 2.5 stars but roun...
c230cac84d0ce76791c5d25951144a7d,5,That was emotionally exhausting.
784177ab29078ef0a4822bb9ce65c21a,5,This book just ripped my heart out. I don't th...

In [13]:
df["rating"].value_counts()

4    61912
5    59769
3    39176
2    14197
0     5711
1     5706
Name: rating, dtype: int64

In [14]:
df_1 = df[df["rating"] == 1].sample(5000)
df_2 = df[df["rating"] == 2].sample(5000)
df_4 = df[df["rating"] == 4].sample(5000)
df_5 = df[df["rating"] == 5].sample(5000)

df_filtered = pd.concat([df_1, df_2, df_4, df_5])

df_filtered.to_csv("reviews_filtered_2.csv")

In [10]:
print(detect("Hizli okunuyor. Merak uyandiriyor ve sizi surukluyor, zaman gecirmek"))
print(langid.classify("What a great ending to the trilogy!! The second book was better than the first,")[0])

tr
en

In [11]:
df2 = pd.read_csv("reviews.csv")
count = 0
for index, row in df2.iterrows():

    try:

        if TextBlob(row["review_text"]).detect_language() != "en":
            count += 1

    except:

        count += 1

In [3]:
# LARGE JSON TO LARGE CSV


# with open('goodreads_reviews_young_adult.json') as json_file:
#     jsondata = json.load(json_file)
 
# data_file = open('all_reviews.csv', 'w', newline='')
# csv_writer = csv.writer(data_file)

# count = 0
# for data in jsondata:
#     if count == 0:
#         header = data.keys()
#         csv_writer.writerow(header)
#         count += 1
#     csv_writer.writerow(data.values())
 
# data_file.close()

In [ ]:
# f = open("goodreads_reviews_young_adult.json", "r+")
# # Create an array to hold write data
# new_file = []
# # Loop the file line by line
# for line in f:
#   # Split A,B on , and use first position [0], aka A, then add to the new array
#   new_line = line + ","
#   # Add
#   new_file.append(new_line)
# # Open the file as Write, loop the new array and write with a newline
# with open("goodreads_reviews_young_adult.json", "w+") as f:
#   for i in new_file:
#     f.write(i+"\n")